@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>

<html>
<head>
    <title> pog </title>
    
</head>
<body>
    
    <div class="container"><p>




    </p></div>
    
@RenderBody()
</body>

</html>