@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.TrashServicePage>
@using ContentModels = SpaceDebris.Web.Models.ModelsBuilder;
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> pog </title>
    
</head>
<body>
    
    <div class="container"><p>


@Model.Value("usingSDBag")

    </p></div>
    

</body>

</html>